.listPage {
  height: calc(100vh - 100px);
  overflow-y: scroll;
  padding: 40px 20px;
  background-color: var(--tangerine);
}

.listTitle {
  text-align: center;
}

.list-border {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  height: calc(100vh - 150px);
  overflow: scroll;
}

.list-border::-webkit-scrollbar {
  display: none;
}
