.listPage {
  height: calc(100vh - 140px);
  overflow-y: scroll;
  padding: 20px;
  background-color: var(--tangerine);
}

.listPage::-webkit-scrollbar {
  display: none;
}

.listTitle {
  text-align: center;
}

.list-border {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  height: calc(100vh - 190px);
  overflow: scroll;
}

.list-border::-webkit-scrollbar {
  display: none;
}
