.mapWrapper {
  padding: 10px 20px 40px;
  background-color: var(--tangerine);
  height: var(--mapHeight);
  margin: auto auto;
}

.google-map {
  height: var(--mapHeight);
  width: 90%;
}

.map {
  position: relative;
  text-align: center;
  margin: 0 auto;
  height: 94%;
  width: 90%;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

.map div {
  border-radius: 10px;
}

.location-pin {
  z-index: -1;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.your-location {
  z-index: 1;
  position: absolute;
  color: pink;
}

.go-to-place-icon {
  z-index: 1;
}
