.loading-message {
  height: 50px;
  width: 100%;
  border: 1px solid black;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font: 10px;
  padding: 0px;
  margin: 0px;
}
