.loading-message {
  z-index: 1;
  display: inline;
  justify-content: center;
  align-items: center;
}

.loading-icon {
  animation: rotation 5s infinite linear;
  padding-left: 10px;
  transform: rotate(360deg);
  transform-origin: center center;
}

/* @keyframes rotation {
  to {
    transform: rotate(359deg);
  }
} */
