nav {
  height: 50px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline;
  padding: 10px;
}

svg {
  width: 30px;
  height: 30px;
  color: var(--tangerine);
}

.locationButton {
  width: 65px;
  height: 65px;
  border: 7px solid var(--lightGray);
  border-radius: 100px;
  background-color: var(--tangerine);
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.locationButton:hover {
  cursor: pointer;
}

.nav-icon {
  margin: 0px 15px;
  z-index: 2;
}

.loading-icon {
  z-index: 1;
  width: 65px;
  height: 65px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 20.5px;
  border: 3px solid var(--tangerine);
  border-radius: 50%;
  border-top-color: var(--darkBurgandy);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
