.searchSection {
  background-color: var(--tangerine);
  width: 100%;
}

.searchBar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  line-height: 1.5em;
  padding: 2% 7% 0 7%;
  border: none;
}

.searchBar input {
  padding: 5px;
  align-self: center;
  margin: 5px;
  width: 80%;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
}

.searchButton {
  border: none;
  background-color: var(--tangerine);
}

.searchIcon {
  color: white;
  padding: 6px 0 0;
}

.searchIcon:hover {
  cursor: pointer;
}

.errorMessage {
  margin: 0 0;
  color: red;
  text-align: center;
}
