table {
  width: 100%;
  border-collapse: seperate;
  border-radius: 10px;
  border-spacing: 0px 10px;
}

td {
  padding: 5px;
  border-spacing: 10px 10px;
}

td > img {
  border-radius: 10px;
}

tr {
  border-radius: 10px;
}

td:first-child {
  border-top-left-radius: 10px;
}
td:last-child {
  border-top-right-radius: 10px;
}
td:first-child {
  border-bottom-left-radius: 10px;
}
td:last-child {
  border-bottom-right-radius: 10px;
}

.tableDetails {
  display: flex;
  flex-direction: column;
}

.tableDetails p {
  margin: 5px 0;
}

.tableListing {
  border-radius: 10px;
}

.externalLink {
  display: block;
}

.tableHeaders {
  font-size: 1.2em;
  height: 50px;
  border: 2px solid black;
}

.tableThumbnail img {
  width: 50px;
  height: 50px;
  text-align: center;
}

.tableListing:nth-child(odd) {
  background-color: var(--darkBurgandy);
  color: white;
}

.tableListing:nth-child(even) {
  background-color: var(--rust);
  color: white;
}

details {
  padding: 0.5em 0.5em 0;
  display: flex;
}

summary {
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  margin-bottom: 0.5em;
}

.place-icon {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  color: white;
}

.externalLink {
  color: white;
  display: flex;
}

.link-icon {
  width: 20px;
  height: 20px;
  color: white;
  margin-left: 5px;
}
